.DropDown {
  width: 100%;
  margin-top: 8px;
  overflow: hidden;
  background-color: var(--dropdown-background);
  border-radius: 8px;
  max-width: min(100%, 331px);

  &[data-floating='true'] {
    position: absolute;
    right: 0;
    z-index: 1;
    top: calc(100% + 8px);
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.07),
      0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07),
      0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07),
      0 32px 64px rgba(0, 0, 0, 0.07);
  }
}
