.PropItem {
  position: relative;
}

.FieldHeader {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.Actions {
  display: inline-grid;
  grid-auto-flow: column;
}

.Action {
  --ne-button-foreground: var(--field-actions-foreground);
  --ne-button-hover-foreground: var(--field-actions-hover-foreground);
  --ne-button-active-foreground: var(--field-actions-active-foreground);
  --ne-button-background: none;
  --ne-button-hover-background: none;
  --ne-button-active-background: none;
  --ne-button-shadow: none;
  --ne-button-y-padding: 0;
  --ne-button-x-padding: 8px;

  cursor: pointer;
  transform: none;

  & > svg {
    width: auto;
    height: auto;
    margin: 0;
  }
}
