{
  "extends": ["stylelint-config-oval"],
  "ignoreFiles": ["node_modules"],
  "rules": {
    "number-max-precision": 3,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["/^import-normalize/"]
    }]
  }
}
