.Button {
  --ne-button-background: env(--accent-100);
  --ne-button-hover-background: env(--accent-90);
  --ne-button-active-background: var(--ne-button-hover-background);
  --ne-button-disabled-background: env(--secondary-70);
  --ne-button-foreground: #fff;
  --ne-button-hover-foreground: var(--ne-button-foreground);
  --ne-button-active-foreground: var(--ne-button-foreground);
  --ne-button-disabled-foreground: env(--secondary-90);
  --ne-button-font-size: var(--small-font-size);
  --ne-button-shadow: none;
  --ne-button-y-padding: 1rem;
  --ne-button-x-padding: 1.5rem;
  --ne-button-border-radius: 4px;

  text-transform: uppercase;
  outline-offset: 2px;
  font-weight: 700;

  &[data-small='true'] {
    --ne-button-y-padding: 0.4em;
    --ne-button-x-padding: 1em;
  }

  &[data-secondary='true'] {
    --ne-button-background: var(--secondary-button-background);
    --ne-button-foreground: var(--secondary-button-foreground);
    --ne-button-hover-background: var(--secondary-button-hover-background);
  }
}
