.ColorField {
  position: relative;
}

.Field {
  --ne-button-background: none;
  --ne-button-hover-foreground: var(--colorfield-foreground);
  --ne-button-active-foreground: var(--colorfield-foreground);
  --ne-button-hover-background: none;
  --ne-button-active-background: none;

  all: unset;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2px;
  color: var(--ne-textfield-foreground);
}

.Value {
  flex-grow: 1;
  display: block;
  padding: 8px 16px;
  font-weight: bold;
}

.ColorPreview {
  all: unset;
  flex-shrink: 0;
  padding: 8px 16px;
}

.ColorSwatch {
  pointer-events: none;
}

.PickerContainer {
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  /* stylelint-disable */

  & :global(.chrome-picker) {
    box-shadow: none !important;
    background-color: transparent !important;
    width: 100% !important;
  }

  & :global(svg) {
    fill: var(--ne-global-foreground) !important;
    background: color-mod(var(--ne-global-foreground) alpha(10%)) !important;
  }

  & :global(input) {
    background-color: var(--ne-textfield-background) !important;
    color: inherit !important;
    border: 0 !important;
    box-shadow: inset 0 0 0 1px var(--shell-border-color) !important;
  }
}

.UnitBlock {
  margin: 8px 16px 0 16px;
}

.RelatedValue {
  display: block;
  padding: 0 16px;
  color: var(--unitfield-related-value-foreground);
  opacity: 0.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  font-size: 0.8rem;
}
