.ColorSwatch {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 1fr;
}

.PropName {
  margin-bottom: 5px;
  overflow-wrap: anywhere;
}

.ColorValue {
  margin-bottom: 0;
  opacity: 0.8;
}
