.ColorSwatch {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 1fr;
}

.Preview {
  --ne-color-radius: 16px;
  --ne-color-shadow: inset 0 0 0 2px rgba(0, 0, 0, 10%);

  width: 88px;
  height: 88px;
}

.PropName {
  margin-bottom: 5px;
}

.ColorValue {
  margin-bottom: 0;
  opacity: 0.6;
}
