.ColorField {
  position: relative;
}

.Field {
  --ne-button-background: none;
  --ne-button-hover-background: none;
  --ne-button-active-background: none;

  all: unset;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
}

.UnitPreview {
  margin-right: 3px;
}
