.Actions {
  padding: 16px 8px;
  flex-shrink: 0;
  border-top: 1px solid var(--shell-border-color);
}

.Scroller {
  flex-grow: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Toolbar {
  min-width: 380px;
  max-width: 800px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--shell-border-color);
}
