.AddVariable {
  display: flex;
  justify-content: center;
  align-items: center;

  & > button {
    flex-shrink: 0;
    margin: 0 16px;
  }

  &::before,
  &::after {
    display: block;
    content: '';
    flex-grow: 1;
    height: 2px;
    background-color: var(--shell-border-color);
  }
}
