.Expander {
  --ne-details-max-height: auto;
  --ne-details-overflow: none;
  --ne-details-summary-position: relative;

  position: relative;
}

.Expander summary {
  text-transform: capitalize;
}

/*
.Content {
} */
