.EditorWrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
  color: var(--ne-global-foreground);
  display: flex;
  flex-direction: column;
}

.ContentDemo {
  position: relative;
  flex-grow: 1;
  background-color: var(--ne-global-background);

  & > * + * {
    margin-top: 64px;
  }
}
