.ColorField {
  position: relative;
}

.ColorPreview {
  display: block;
  width: 16px;
  height: 16px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 0% / 10%);
  flex-shrink: 0;
  border-radius: 2px;
  margin: 8px 16px;
}

.ColorPickerDialog {
  position: absolute;
  right: 0;
  z-index: 1;
}
