.ColorField {
  position: relative;
}

.ColorPreview {
  flex-shrink: 0;
  padding: 8px 16px;
  cursor: pointer;

  & > .Swatch {
    display: block;
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 0% / 10%);
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }
}

.ColorPickerDialog {
  position: absolute;
  right: 0;
  z-index: 1;
}
