.ColorField {
  position: relative;
}

.ColorPreview {
  flex-shrink: 0;
  padding: 8px 16px;
  cursor: pointer;
}

.ColorSwatch {
  pointer-events: none;
}

.ColorPickerDialog {
  position: absolute;
  right: 0;
  z-index: 1;
}
