.Swatch {
  display: block;
  border-radius: 2px;

  &[data-size='small'] {
    --ne-color-radius: 2px;
    --ne-color-shadow: inset 0 0 0 1px hsl(0deg 0% 0% / 10%);

    width: 16px;
    height: 16px;
  }

  &[data-size='big'] {
    --ne-color-radius: 16px;
    --ne-color-shadow: inset 0 0 0 2px hsl(0deg 0% 0% / 10%);

    width: 88px;
    height: 88px;
  }
}
