html {
  height: 100%;
  transition: background-color 100ms;
}

body {
  margin: 0;
  height: 100%;
  position: fixed;
  inset: 0;

  & > * {
    height: 100%;
  }
}

[data-whatintent='mouse'] {
  & *:focus {
    outline: none;
  }
}
