:root {

  /* Native Elements settings */

  --regular-font-size: 1rem;
  --small-font-size: 0.875rem;
  --ultra-small-font-size: 0.812rem;
  --ne-headings-scale: 1.125;
  --ne-body-font-size: var(--regular-font-size);
  --ne-textfield-y-padding: 7px;
  --ne-textfield-x-padding: 16px;
  --ne-textfield-min-height: auto;
  --ne-details-max-height: auto;
}
