:root {

  /* App theme */

  --ne-global-background: #fff;
  --ne-global-foreground: env(--contrast-100);
  --ne-selection-foreground: env(--secondary-70);
  --ne-selection-background: env(--contrast-100);
  --ne-outline-color: env(--accent-100);
  --ne-links-foreground: env(--accent-100);
  --ne-links-active-foreground: env(--accent-90);
  --ne-button-background: env(--accent-100);
  --ne-button-hover-background: env(--accent-90);
  --ne-button-active-background: var(--ne-button-hover-background);
  --ne-button-disabled-background: env(--secondary-70);
  --ne-button-foreground: var(--ne-global-background);
  --ne-button-hover-foreground: var(--ne-button-foreground);
  --ne-button-active-foreground: var(--ne-button-foreground);
  --ne-button-disabled-foreground: env(--secondary-90);
  --ne-textfield-border: 1px solid env(--secondary-80);
  --ne-textfield-hover-border: 1px solid env(--secondary-80);
  --ne-textfield-focus-border: 1px solid env(--secondary-80);
  --ne-textfield-background: var(--ne-global-background);
  --ne-textfield-hover-background: var(--ne-global-background);
  --ne-textfield-focus-background: var(--ne-global-background);
  --ne-textfield-selection-background: var(--ne-selection-foreground);
  --ne-textfield-selection-foreground: var(--ne-selection-background);
  --ne-details-background: none;
  --ne-details-border-radius: 0;
  --ne-details-summary-background: color-mod(env(--secondary-70) alpha(20%));
  --ne-details-shadow: none;
  --ne-details-separator: 1px solid var(--shell-border-color);
  --secondary-button-background: env(--secondary-70);
  --secondary-button-foreground: env(--accent-100);
  --secondary-button-hover-background: env(--secondary-80);
  --shell-border-color: env(--secondary-70);
  --shell-canvas-background: color-mod(env(--secondary-70) alpha(50%));
  --prop-field-background: var(--ne-textfield-background);
  --prop-field-border: 1px solid env(--secondary-80);
  --labels-foreground: env(--contrast-70);
  --prop-field-name: env(--contrast-70);
  --prop-field-actions-foreground: env(--secondary-100);
  --prop-field-actions-hover-foreground: env(--accent-100);
  --prop-field-actions-active-foreground: env(--accent-100);
  --theme-switcher-foreground: env(--secondary-100);
  --theme-switcher-hover-foreground: env(--contrast-70);
  --dropdown-background: var(--ne-global-background);
  --buttongroup-border-color: env(--secondary-80);
  --buttongroup-foreground: env(--contrast-70);
  --buttongroup-background: env(--secondary-70);
  --skeleton-loader-background: env(--secondary-70);
  --skeleton-loader-highlight: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {

    /* App theme */

    --ne-global-background: env(--contrast-90);
    --ne-global-foreground: #fff;
    --ne-selection-foreground: env(--secondary-70);
    --ne-selection-background: env(--contrast-100);
    --ne-outline-color: env(--accent-100);
    --ne-links-foreground: env(--accent-100);
    --ne-links-active-foreground: env(--accent-90);
    --ne-button-background: env(--accent-100);
    --ne-button-hover-background: env(--accent-90);
    --ne-button-active-background: var(--ne-button-hover-background);
    --ne-button-disabled-background: env(--secondary-70);
    --ne-button-foreground: #fff;
    --ne-button-hover-foreground: var(--ne-button-foreground);
    --ne-button-active-foreground: var(--ne-button-foreground);
    --ne-button-disabled-foreground: env(--secondary-90);
    --ne-textfield-border: 1px solid env(--contrast-80);
    --ne-textfield-hover-border: 1px solid env(--contrast-80);
    --ne-textfield-focus-border: 1px solid env(--contrast-80);
    --ne-textfield-background: env(--contrast-100);
    --ne-textfield-hover-background: env(--contrast-100);
    --ne-textfield-focus-background: env(--contrast-100);
    --ne-textfield-selection-background: var(--ne-selection-foreground);
    --ne-textfield-selection-foreground: var(--ne-selection-background);
    --ne-details-background: none;
    --ne-details-border-radius: 0;
    --ne-details-summary-background: color-mod(env(--contrast-100) alpha(20%));
    --ne-details-shadow: none;
    --ne-details-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="12" height="12"><path d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z"/></svg>');
    --secondary-button-background: env(--contrast-80);
    --secondary-button-foreground: env(--secondary-70);
    --secondary-button-hover-background: env(--contrast-70);
    --shell-border-color: env(--contrast-80);
    --shell-canvas-background: env(--contrast-100);
    --prop-field-name: env(--secondary-100);
    --prop-field-background: var(--ne-textfield-background);
    --prop-field-border: 1px solid env(--contrast-80);
    --labels-foreground: env(--contrast-70);
    --prop-field-actions-foreground: env(--contrast-70);
    --prop-field-actions-hover-foreground: env(--accent-100);
    --prop-field-actions-active-foreground: env(--accent-100);
    --theme-switcher-foreground: env(--contrast-70);
    --theme-switcher-hover-foreground: env(--secondary-100);
    --dropdown-background: env(--contrast-80);
    --buttongroup-border-color: env(--contrast-70);
    --buttongroup-foreground: env(--secondary-100);
    --buttongroup-background: env(--contrast-90);
    --skeleton-loader-background: env(--contrast-100);
    --skeleton-loader-highlight: env(--contrast-90);
  }
}
