.ThemeName {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.Icon {
  color: env(--accent-100);
}

.Input {
  --ne-textfield-background: transparent;
  --ne-textfield-border: none;
}
