.BorderField {
  position: relative;

  & [data-iskeyword='true'] {
    opacity: 0.2;
    pointer-events: none;
  }
}

.Details {
  padding: 16px;

  & label {
    display: block;
    margin-bottom: 8px;
  }

  & > * + * {
    margin: 0;
  }
}
