.ShellLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.View {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.Canvas {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
