.ShellLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.View {
  flex-grow: 1;
  display: flex;
}

.Sidebar {
  min-width: 64px;
  border-right: 1px solid var(--shell-border-color);
}

.Toolbar {
  min-width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--shell-border-color);
}

.Scroller {
  flex-grow: 1;
  overflow: auto;
}

.Actions {
  padding: 16px 8px;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--shell-border-color);
}

.Canvas {
  overflow: auto;
  flex-grow: 1;
  background-color: var(--shell-canvas-background);
  -webkit-overflow-scrolling: touch;
}
