.ShellLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.View {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.Sidebar {
  min-width: 64px;
  border-right: 1px solid var(--shell-border-color);
}

.Toolbar {
  min-width: 200px;
  border-right: 1px solid var(--shell-border-color);
}

.Canvas {
  overflow: auto;
  background-color: var(--shell-canvas-background);
  -webkit-overflow-scrolling: touch;
}
