.Variable {
  position: relative;
}

.FieldHeader {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: var(--ultra-small-font-size);
}

.PropName {
  --ne-textfield-y-padding: 0;
  --ne-textfield-x-padding: 0;
  --ne-textfield-min-height: auto;
  --ne-textfield-border: none;
  --ne-textfield-focus-border: none;
  --ne-textfield-hover-border: none;
  --ne-textfield-foreground: var(--prop-field-name);
  --ne-textfield-readonly-foreground: var(--ne-textfield-foreground);
  --ne-textfield-readonly-border: none;
  --ne-textfield-readonly-focus-border: none;
  --ne-textfield-font-weight: 400;
  --ne-textfield-background: transparent;
  --ne-textfield-radius: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;

  &:not([readonly]) {
    --ne-textfield-font-weight: 700;

    caret-color: env(--accent-100);

    /* box-shadow: inset 0 0 0 1px var(--shell-border-color); */
  }
}

.Actions {
  display: inline-grid;
  grid-auto-flow: column;
}

.Action {
  --ne-button-foreground: var(--prop-field-actions-foreground);
  --ne-button-hover-foreground: var(--prop-field-actions-hover-foreground);
  --ne-button-active-foreground: var(--prop-field-actions-active-foreground);
  --ne-button-background: none;
  --ne-button-hover-background: none;
  --ne-button-active-background: none;
  --ne-button-shadow: none;
  --ne-button-y-padding: 0;
  --ne-button-x-padding: 8px;

  cursor: pointer;
  transform: none;

  & svg {
    width: 12px;
    height: 12px;
    margin: 0;
    animation-name: fade-in;
    animation-duration: 200ms;
    animation-iteration-count: 1;
  }

  &[data-editing='true'] {
    color: #35cc00;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}
