.PropItem {
  position: relative;
}

.FieldHeader {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: var(--ultra-small-font-size);
}

.PropName {
  --ne-textfield-y-padding: 0;
  --ne-textfield-x-padding: 0;
  --ne-textfield-min-height: auto;
  --ne-textfield-border: none;
  --ne-textfield-foreground: env(--contrast-70);
  --ne-textfield-readonly-foreground: var(--ne-textfield-foreground);
  --ne-textfield-readonly-border: none;
  --ne-textfield-readonly-focus-border: none;
  --ne-textfield-font-weight: 400;
}

.Actions {
  display: inline-grid;
  grid-auto-flow: column;
}

.Action {
  --ne-button-foreground: var(--prop-field-actions-foreground);
  --ne-button-hover-foreground: var(--prop-field-actions-hover-foreground);
  --ne-button-active-foreground: var(--prop-field-actions-active-foreground);
  --ne-button-background: none;
  --ne-button-hover-background: none;
  --ne-button-active-background: none;
  --ne-button-shadow: none;
  --ne-button-y-padding: 0;
  --ne-button-x-padding: 8px;

  cursor: pointer;
  transform: none;

  & > svg {
    width: 12px;
    height: 12px;
    margin: 0;
  }
}
