.AppNavigation {
  display: flex;
  flex-direction: column;
}

.AppNavigationItem {
  display: flex;
  min-height: 56px;
  justify-content: center;
  align-items: center;
  outline-offset: -2px;

  & > svg {
    filter: grayscale(70%);
    opacity: 0.5;
    transition: filter 300ms, opacity 300ms;
  }

  &:hover > svg {
    opacity: 1;
  }

  &.Current > svg {
    opacity: 1;
    filter: saturate(100%);
  }
}
