.AppHeader {
  min-height: 64px;
  display: flex;
  border-bottom: 1px solid var(--shell-border-color);
}

.LogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  outline-offset: -2px;
  border-right: 1px solid var(--shell-border-color);
}

.HeaderContent {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.HeaderLink {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid var(--shell-border-color);

  & > svg {
    margin-inline-start: 8px;
  }
}
