.ThemeSwitcher {
  display: inline-grid;
  grid-gap: 8px;
  grid-auto-flow: column;
}

.ThemeTrigger {
  --ne-button-foreground: var(--theme-switcher-foreground);
  --ne-button-active-foreground: var(--ne-button-foreground);
  --ne-button-background: transparent;
  --ne-button-hover-background: transparent;
  --ne-button-active-background: transparent;
  --ne-button-shadow: none;
  --ne-button-y-padding: 0;
  --ne-button-x-padding: 0;

  font-family: inherit;
  text-transform: uppercase;
  min-width: 24px;
  min-height: 24px;
  position: relative;

  &[aria-current='true'] {
    --ne-button-foreground: env(--accent-100);
  }

  &:hover {
    color: var(--theme-switcher-hover-foreground);
  }

  & > svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}
