.FieldWrapper {
  --ne-textfield-y-padding: 9px;
  --ne-textfield-x-padding: 16px;
  --ne-textfield-min-height: auto;
  --ne-textfield-readonly-border: none;
  --ne-textfield-readonly-focus-border: none;

  position: relative;
  border: var(--prop-field-border);
  border-radius: 4px;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  background-color: var(--prop-field-background);
}
