.FieldWrapper {
  --ne-textfield-y-padding: 9px;
  --ne-textfield-x-padding: 16px;
  --ne-textfield-min-height: auto;
  --ne-textfield-border: none;

  position: relative;
  border: 1px solid var(--prop-field-border-color);
  border-radius: 4px;
  font-size: var(--small-font-size);
}
